app-sidebar {
    sidebar-data .sidebar-data-container mat-expansion-panel {
        border-bottom-width: 0.063rem !important;
    }

    .highlight{
        animation: shadowFade 2s 1
    }

    @keyframes shadowFade {
        0% {
          box-shadow: 0px 0px 0px rgba(228, 74, 25, 0);
        }
        50% {
          box-shadow: 0px 0px 15px rgba(228, 74, 25, 0.75);
        }
        100% {
          box-shadow: 0px 0px 0px rgba(228, 74, 25, 0);
        }
      }
}